.movielist-container {
  display: flex;
  width: 100vw;
  height: auto;
  margin-top: var(--navbar-height);
  justify-content: center;
  align-items: center;
}

.list-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 90%;
  background-color: var(--color-3);
}

@media (max-width: 768px) {
  .list-setup {
    min-width: 350px;
    width: 350px;
    flex-direction: column-reverse;
  }
}
