.list-setup {
  display: flex;
  position: absolute;
  margin-top: 100px;
  padding: 20px;
  inset: 6% 20% auto 20%;
  background-color: rgb(63, 63, 63);
  font-size: 20px;
  min-width: 0;
}

.list-selected {
  height: 100%;
  width: 70%;
  margin-right: 50px;
}

.list-selected-info {
  margin-top: 20px;
  margin-left: 20px;
  color: white;
}

.selected-name {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.selected-author {
  font-size: 16px;
}
.author {
  font-weight: bold;
}
.other-collaborators {
  color: rgb(183, 183, 183);
}

.selected-list-overview {
  position: relative;
  margin-top: 20px;
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.selected-list-container {
  display: flex;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.movie-list-image {
  width: 200px;
}

.movie-list-info {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin-left: 30px;
}

.movie-list-title {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 28px;
  padding-left: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-list-metadata {
  color: rgb(183, 183, 183);
}

.movie-description {
  margin-top: 40px;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 30px;
  height: 120px;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-list-director,
.movie-list-actors {
  color: rgb(183, 183, 183);
  margin-bottom: 6px;
  font-size: 18px;
}

.movie-list-ratings {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30px;
}

.personal-rating,
.imdb-rating {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.personal-rating i,
.imdb-rating i {
  margin-bottom: 2px;
  margin-right: 10px;
}

.imdb-rating i {
  color: gold;
}

.personal-rating i {
  color: #0277bd;
}

.list-overview {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  align-items: center;
}

.create-list-button {
  color: white;
  background-color: #0277bd;
  box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.4);
  border: none;
  padding: 10px 0px;
  width: 98%;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.movie-lists {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.movie-lists p {
  margin: 10px 2px;
  color: white;
}

.movie-list-container {
  margin-bottom: 20px;
  display: flex;
  position: relative;
  box-shadow: 0px 0px 4px 4px rgba(33, 33, 33, 0.5);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.favorite-movie-image,
.no-movie-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
}

.no-movie-image {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-lists-info {
  width: 55%;
  margin-top: 10px;
  color: white;
}

.list-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
  font-size: 22px;
  font-weight: 600;
}

.list-movie-count {
  font-size: 16px;
}
