.selectedmovielist-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 60%;
  flex: 1;
  padding: 2%;
  margin: 0 2%;
  border-radius: 50px;
  background-color: var(--color-other);
}

.selectedmovielist-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.selectedmovielist-header-text {
  margin: 0px;
  font-size: var(--font-size-4);
  flex: 4;
}

.selectedmovielist-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  margin-bottom: 50px;
  flex: 1;
}

.selectedmovielist-button-add-collab,
.selectedmovelist-button-remove-list {
  flex: 1;
  font-size: var(--font-size-3);
  background-color: var(--color-1);
  border-radius: 10px;
  color: white;
  padding: 2%;
  transition: scale 0.5s;
  cursor: pointer;
}

.selectedmovielist-button-add-collab:hover,
.selectedmovelist-button-remove-list:hover {
  scale: 1.15;
}

.selectedmovielist-button-add-collab {
  margin-right: 20px;
  border: 3px var(--color-button) solid;
}

.selectedmovelist-button-remove-list {
  border: 3px rgb(189, 2, 43) solid;
}

.selectedmovielist-movielist-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.selectedmovielist-movie-wrapper {
  display: flex;
  background-color: var(--color-2);
  padding: 2%;
  border-radius: 40px;
  margin: 10px 0;
}

.selectedmovielist-image-wrapper {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
}

.selectedmovielist-image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.selectedmovielist-movie-info-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.selectedmovielist-movie-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectedmovielist-movie-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 8;
  margin-right: 10px;
  font-size: var(--font-size-3);
}

.selectedmovielist-button-remove-movie {
  flex: 1;
  font-size: var(--font-size-3);
  background-color: var(--color-1);
  border-radius: 10px;
  color: white;
  padding: 2%;
  transition: scale 0.5s;
  cursor: pointer;
  border: 3px rgb(189, 2, 43) solid;
}

.selectedmovielist-button-remove-movie:hover {
  scale: 1.15;
}

.selectedmovielist-movie-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  font-size: var(--font-size-2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectedmovielist-movie-director {
  font-size: var(--font-size-2);
  color: gray;
}
