.usermovielist-wrapper {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 25%;
  max-width: 500px;
  padding: 2%;
  border-radius: 50px;
  background-color: var(--color-other);
}

.usermovielist-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.usermovielist-header-text {
  font-size: var(--font-size-3);
  margin: 2px;
}

.usermovielist-new-list-button {
  font-size: var(--font-size-3);
  background-color: var(--color-1);
  border: 3px var(--color-button) solid;
  border-radius: 10px;
  color: white;
  padding: 2%;
  transition: scale 0.5s;
  cursor: pointer;
}

.usermovielist-new-list-button:hover {
  scale: 1.15;
}

.usermovielist-list-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--color-2);
}

.usermovielist-image-wrapper {
  position: relative;
  height: 200px;
  width: 150px;
  border-radius: 20px;
  overflow: hidden;
}

.usermovielist-image {
  position: absolute;
  height: 100%;
  width: 100%;
}

.grey {
  background-color: rgb(78, 78, 78);
}

.usermovielist-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
  max-width: 60%;
  flex: 1;
}

.usermovielist-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: var(--font-size-3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.usermovielist-list-info-wrapper {
  display: flex;
  flex-direction: column;
}

.usermovielist-movie-number {
  margin: 0;
  font-size: var(--font-size-2);
}

.usermovielist-owner {
  font-size: var(--font-size-2);
  color: gray;
}
