body {
  background-color: var(--color-4);
  color: var(--text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  margin: 0;
  padding: 0;
  font-size: 18px;
  overflow-x: hidden;
}

.content {
  background-color: var(--color-4) !important;
}

.ui.modal {
  border-radius: 50px !important;
  width: 100% !important;
  max-width: 500px !important;
  margin: 0 auto !important;
}

html {
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) rgba(255, 255, 255, 0.1);
}

:root {
  --toastify-toast-width: 400px;
  --toastify-toast-min-height: 100px;
  --navbar-height: 100px;
  --text-color: rgb(255, 255, 255);
  --color-1: rgb(99, 89, 133);
  --color-2: rgb(68, 60, 104);
  --color-3: rgb(57, 48, 83);
  --color-4: rgb(24, 18, 43);
  --color-other: rgb(33, 25, 59);
  --font-size-1: 18px;
  --font-size-2: 24px;
  --font-size-3: 30px;
  --font-size-4: 36px;
  --font-size-5: 50px;
  --font-size-6: 80px;
  --border-radius: 4px;
}

.Toastify__toast {
  font-size: 24px;
}
