.moviepage-wrapper {
  width: 100vw;
  height: auto;
  position: relative;
}

.moviepage-background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  filter: blur(3px) brightness(0.7);
}

.moviepage-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 100px;
}

.movie-banner {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 100px 0;
  overflow: hidden;
  z-index: 2;
}

.movie-banner-image {
  position: absolute;
  height: auto;
  width: 100%;
  opacity: 0;
}

.movie-banner-control-panel {
  position: absolute;
  left: 5%;
  bottom: 10%;
  display: flex;
  z-index: 3;
}

.movie-banner-not-selected-button,
.movie-banner-selected-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: solid var(--color-1) 3px;
  border-radius: 50%;
  margin: 4px;
  transition: background-color 0.5s;
}

.movie-banner-selected-button {
  background-color: var(--color-3);
}

.movie-grid-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 1200px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  overflow: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.movie-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.movie-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: flex;
  cursor: pointer;
}

.movie-card-image {
  height: 425px;
  width: 300px;
  border-radius: 20px;
}

.movie-card-container h4 {
  backdrop-filter: blur(10px);
  font-size: var(--font-size-2);
  text-align: center;
  backdrop-filter: blur(5px);
  margin: 8px;
}

.movie-card-rating-container {
  position: absolute;
  display: flex;
  top: 20px;
  left: 25px;
  padding: 4px;
  border: solid rgb(255, 215, 0) 2px;
  background-color: rgba(255, 215, 0, 0.5);
  color: white;
  border-radius: 50%;
}

.movie-scroll-visualizer {
  display: flex;
}

.nothing-found-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1050px;
  z-index: 2;
}

.nothing-found-wrapper p {
  font-size: var(--font-size-5);
}
