.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  color: white;
  background-color: rgb(61, 61, 61);
}

.form-header {
  text-align: center;
  font-size: 28px;
  font-weight: 700px;
}

.error-label {
  text-align: center;
  color: red;
}

.button-container {
  display: flex;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
