.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  color: white;
  background-color: var(--color-4);
}

.form-header {
  text-align: center;
  font-size: 28px;
  font-weight: 700px;
}

.form-error-label {
  font-size: 30px;
  text-align: center;
  color: red;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.checkbox-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
