.navbar {
  height: var(--navbar-height);
  inset: 0 0 0 0;
  display: flex;
  justify-content: space-between;
  z-index: 50;
  flex-direction: row;
}

.left-navbar-menu,
.middle-navbar-menu,
.right-navbar-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-navbar-menu {
  width: 10%;
  height: 100%;
  min-width: 200px;
}

.middle-navbar-menu {
  width: 20%;
  height: 100%;
}

.right-navbar-menu {
  width: 10%;
  height: 100%;
  min-width: 250px;
}

.menu-element,
.profile-element {
  cursor: pointer;
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  min-width: 110px;
  justify-content: center;
  align-items: center;
  flex: 1;
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  font-size: 20px;
}

.menu-element:hover,
.profile-element:hover {
  color: white;
  box-shadow: inset 0px -2px 3px 1px var(--color-1);
}

.profile-element:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  transition: max-height 0.5s ease-in-out;
}

.profile-element.clicked {
  box-shadow: inset 0px -4px 5px 1px var(--color-1);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--color-4);
  width: 100%;
  top: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  z-index: 3;
}

.dropdown-link {
  text-align: right;
  color: white;
  width: 100%;
  padding: 20px 20px;
  z-index: 100;
}

.dropdown-link:hover {
  color: white;
  box-shadow: inset 0px 0px 3px 1px var(--color-1);
}

.dropdown-menu.visible {
  max-height: 800px;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    height: auto;
    width: 100;
    inset: 0 0 0 auto;
    flex-direction: column;
    background-color: var(--color-4);
    justify-content: start;
  }
  .left-navbar-menu {
    margin-top: 60px;
    height: 10%;
    width: 100%;
    min-height: 50px;
    min-width: auto;
    flex-direction: column;
  }

  .middle-navbar-menu {
    height: auto;
    width: 100%;
    min-height: 50px;
    min-width: auto;
    flex-direction: column;
  }

  .right-navbar-menu {
    height: auto;
    width: 100%;
    min-height: 50px;
    min-width: auto;
    flex-direction: column;
  }

  .menu-element,
  .profile-element {
    text-align: center;
    min-height: 100px;
    min-width: 150px;
  }

  .dropdown-link {
    text-align: center;
  }

  .profile-element:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    transition: max-height 0.5s ease-in-out;
  }
}
