.form-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.field-label {
  color: rgb(144, 144, 144);
  position: absolute;
  top: 8px;
  left: 9px;
  font-size: 8px;
}

.normal-field,
.missing-field {
  font-size: 16px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: var(--color-3);
  border-radius: 10px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 8px;
  padding-left: 8px;
  transition: box-shadow 0.3s;
}

.normal-field:focus,
.missing-field:focus {
  outline: none;
  box-shadow: 0px 0px 2px 2px rgb(1, 136, 225);
}

.normal-field::selection,
.missing-field::selection {
  background-color: #3e70bb;
  color: white;
}

.normal-field:not(:focus)::selection,
.missing-field:not(:focus)::selection {
  background-color: #9da7b7;
  color: white;
}

.missing-field {
  box-shadow: 0px 0px 2px 2px rgb(225, 1, 1);
}

.icon {
  position: absolute;
  color: gray;
  top: 13px;
  right: 15px;
}

.error-label {
  font-size: 12px;
  color: red;
  margin: 4px 0px 4px 10px;
}
