.container {
  width: 600vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.panel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.information-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 250px;
  height: 70%;
  width: 90%;
  background-color: var(--color-3);
  border-radius: var(--border-radius);
  padding: 50px;
}

.about-container {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.about-name {
  font-size: var(--font-size-6);
  line-height: var(--font-size-6);
}

.about-text {
  font-size: var(--font-size-3);
  line-height: var(--font-size-3);
}

.scrollable-container {
  position: relative;
  height: auto;
  width: 300px;
}

.scrollable-image {
  position: absolute;
  max-width: 100%;
  aspect-ratio: 9/12;
  opacity: 0;
}

.scrollable-image:first-child {
  opacity: 1;
}

.panel-2 {
  background-color: var(--color-other);
}

.panel-3 {
  background-color: var(--color-3);
}

/* .whole-screen {
  margin-top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.panel {
  height: 60vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.panel-1 {
  background-color: var(--color-4);
}

.panel-2 {
  background-color: var(--color-3);
} */

/* .next-screen {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.fade-in-message {
  height: 50px;
  width: 300px;
  position: absolute;
  text-align: center;
} */

/* .welcome {
  font-size: var(--font-size-6);
  position: absolute;
  top: 10vw;
}

.custom-shape-divider-top-1682491957 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1682491957 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 236px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1682491957 .shape-fill {
  fill: var(--color-3);
}

.next-screen-text {
  font-size: var(--font-size-4);
} */
