.whole-screen {
  margin-top: var(--navbar-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.introduction-screen {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  overflow: hidden;

}

.next-screen {
  height: 800px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  
  position: relative;
  overflow: hidden;
  background-color: var(--color-2);
}

.welcome {
  font-size: var(--font-size-6);
  position: absolute;
  top: 10vw;
  /* animation: appear-bottom 2s; */
}


.custom-shape-divider-top-1682491957 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1682491957 svg {
  position: relative;
  display: block;
  width: calc(148% + 1.3px);
  height: 236px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1682491957 .shape-fill {
  fill: var(--color-2);
}

@keyframes appear-bottom {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  } 
}